<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'/>
  <title>Sustainability Tips</title>
  <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">'

  <link rel='stylesheet' href='app-styles.css'/>
  <style>
    {% include 'app-styles.css' %}
    .system-fonts {
    font-family: sans-serif;
  }
  </style>
</head>
<body>
  <header>
    {% include 'navbar.html' %}
    <div class='my-family'>
      <h1>Sustainability Tips</h1>
    </div>
  </header>

  <div class='page'>
    <section class='section section--code'>
      <h2>This Week's Tip:</h2>
      <p>Water your plants in the evening. This will prevent the sun from burning
      your plants.</p>
  </section>

    <section class='section section--members'>
      <h2>Past Tips:</h2>
      <p>Don't harvest all at once. Take what you need and then come back
      another time for more. This will help keep your fruits and
    vegetables fresh.</p>
    <p>Pull a few lawn weeds by hand instead of resorting to chemical sprays.
    <p>Do hand-digging.</p>
    <p>Develop own compost pile so you can return nutrients back to plants
      Develop own compost pile so you can return nutrients back to plants
      Reuse plastic, clay, and other pots in your garden.</p>
      <p>Reuse plastic, clay, and other pots in your garden
</p>
</section>

    </div>

</body>
</html>
